html {
  scroll-behavior: smooth;
}
:root {
  --bg: #F9FAFB;
  --color: #333333;
  --primary: #2F80ED;
  --primaryOpaque: #2F80EDA3;
  --secondary: #56CCF2;
}
.dark-theme {
  --bg: #121212;
  --color: #F9FAFB;
  --primary: #BB86FC;
  --primaryOpaque: #BB86FCA3;
  --secondary: #03DAC6;
}
* {
  box-sizing: border-box;
  /*border: 1px solid blue;*/
}
body {
  background-color: var(--bg);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.25rem;
  border: none;
  margin-top: 16px;
}
h1, h2, h3, p {
  margin: 0;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
  color: var(--secondary);
}
h3 {
  font-size: 1.7rem;
}
p {
  font-size: 1.05rem;
  color: var(--color);

}
header ul {
  list-style-type: none;
  padding: 10px 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(5px);
  z-index: 1000;
  border-radius: 5px;
  margin-top: 1.5px;
  width: 98%;
  border: 1px solid var(--primary);
}
header ul li {
  padding: auto;
  box-sizing: border-box;
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: var(--primary);
  padding: 4.5px 9px;
  margin: 2px;
  border-radius: 5px;
  background-color: #E0E0E0;
}
header ul li.active {
  margin-left: auto;
}
.active {
  background-color: var(--primary);
  color: var(--bg);
  padding: 10px 20px;
}
#hero-sect {
  margin-top: 98px;
}
.typing-effect {
  display: flex;
  /*border: 1px solid red;*/
  height: 2.5rem;
  overflow: hidden;
}
.typing-effect h1 {
  /*border: 1px solid blue;*/
  white-space: nowrap;
  font-size: 1.8rem;
  display: inline-block;
}
.typing-effect ul {
  list-style-type: none;
  /*border: 1px solid green;*/
  padding: 5px;
  margin: 0;
  padding: 2px;
  transform: translateY(0);
  animation: upward 9s steps(3, end) infinite;
} 
@keyframes upward {
  from {transform: translateY(0);}
  to {transform: translateY(-7.70rem);}
}
.typing-effect li {
  font-size: 1.7rem;
  white-space: nowrap;
  /*border: 1px solid yellow;*/
  margin: 0;
  padding: 0;
  border-right: 2px solid black;
  padding-right: 3px;
  animation: cover 3s steps(15, end) infinite, cursor 0.4s infinite;
  overflow: hidden;
  color: var(--primary);
}
@keyframes cursor {
  from, to {border-right: 1.5px solid black;}
  50% {border-right: 1.5px solid grey}
}
@keyframes cover {
  from, to {width: 0;}
  50% {width: 13ch;}
}
#About {
  margin-top: 32px;
  width: 100%;
}
#About img {
  border-radius: 8px;
  border: 1px double var(--primary);
  height: auto;
  width: 50%;
  margin-inline: 16px;
}
#About article {
  padding: 16px;
}
#services {
  margin-top: 32px;
  color: var(--color);
}
#services [class*="service-"] {
  border-radius: 8px;
  box-shadow: 0 0 3px var(--primaryOpaque);
  padding: 16px;
  margin: 16px auto;
  width: 90%
}
#services [class*="service-"] p {
  padding-left: 20px;
}
#services [class*="service-"] h3 {
  white-space: nowrap;
  font-size: 1.5rem;
}
.icon {
  height: auto;
  width: auto;
  border-radius: 50%;
  background-color: var(--primaryOpaque);
  color: var(--bg);
  padding: 10px;
  border: none;
}
#services [class*="service-"]:hover {
  border: 2px solid var(--primary);
  box-shadow: none;
}
#services [class*="service-"] p {
  margin-left: 10px;
}
#services [class*="service-"]:hover .icon {
  background-color: var(--primary);
}
#skills {
  margin: 64px auto;
}
#skills .skill {
  background-color: #E0E0E099;
  margin: 10px auto;
  padding: 16px;
  width: 95%;
  border-radius: 4px;
}
#skills .skill h3 {
  font-size: 1.5rem;
}
#skills .skill .prog-bar {
  height: 16px; 
  width: 90%;
  border-radius: 10px;
  border: 1px solid var(--color);
  overflow: hidden;
}
#skills .skill .prog-bar .prog-90 {
  background-color: var(--primary);
  height: inherit;

width: 90%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-80 {
  background-color: var(--primary);
  height: inherit;
  width: 80%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-30 {
  background-color: var(--primary);
  height: inherit;
  width: 30%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-98 {
  background-color: var(--primary);
  height: inherit;
  width: 98%;
  border-radius: inherit
}
#Projects .projects-cont{
  border-radius: 8px;
  background-color: #E0E0E099;
  padding: 16px;
  width: 90%;
  margin: 16px auto;
}
.project-img {
  background-image: url("css_sprites.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.one {
  background-position: -50% 0;
  height: 150px;
  width: 50px;
}
#contact {
  margin-top: 32px;
}
form {
  width: 90vw;
  background-color: #E0E0E0;
  margin: auto;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
}
form input, textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--primaryOpaque);
  resize: none;
  margin-top: 10px;
  outline: none;
  padding-left: 5px;
}
form input {
  height: 32px;
  font-family: Poppins;
}
form textarea {
  font-family: Poppins;
}
form .active {
  font-size: 1rem;
  padding: 0;
  height: 40px;
  font-weight: bold;
}
form .active:hover {
  opacity: 0.5;
}
.float-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--bg);
  border: 1px solid var(--primary);
  z-index: 100;
}
.float-btn .icon, .float-content li .icon {
  background-color: var(--bg);
  color: var(--color);
  font-size: 1.5rem;
}
ul.float-content {
  display: flex;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  border-radius: 8px;
  color: var(--color);
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translateX(30px);
  z-index: -100;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s
}
.float-btn:hover .float-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  right: 35px;
}
.float-btn .float-content li {
  padding: 0.2rem;
}
.notice-internet-con {
  position: fixed;
  bottom: 0;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
  color: var(--color);
  display: none;
  animation: fade-in 0.5s 1;
}
@keyframes fade-in {
  0% {
    bottom: -100%;
    left: -10%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 450px) {
  header ul {
    flex-wrap: nowrap;
  }
  header ul li:last-child {
    margin-left: auto;

  }
  #About {
    display: grid;
    grid-template-areas: "head head" "others others";
  }
  #services {
    display: grid;
    grid-template-areas: "head head head" "others others others";
  }
  #skills {
    display: grid;
    grid-template-areas: "head head head" "others others others";
  }
  #Projects {
    display: grid;
    grid-template-areas: "head head head" "others others2 others3";
  }
  form {
    width: 50%;
    margin: 8px;
  }
  }h1, h2, h3, p {
  margin: 0;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
  color: var(--secondary);
}
h3 {
  font-size: 1.7rem;
}
p {
  font-size: 1.15rem;
  color: var(--color);

}
header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 90px;
}
header ul li {
  padding: auto;
  box-sizing: border-box;
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: var(--primary);
  padding: 10px 20px;
  margin-inline: 5px;
  border-radius: 5px;
  background-color: #E0E0E0;
}
header ul li.active {
  margin-left: 0;
}
.active {
  background-color: var(--primary);
  color: var(--bg);
  padding: 10px 20px;
}
#hero-sect {
  margin-top: 48px;
}
.typing-effect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.typing-effect h1 {
  white-space: nowrap;
  color: var(--color);
}
.typing-effect ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 2rem;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
}
.typing-effect ul li {
  margin-inline: 5px;
  display: inline-block;
  width: initial;
  position: relative;
  transform: translateY(0);
  animation: upword 24s 0.3s infinite steps(4);
  white-space: nowrap;
  text-overflow: ellipsis;
  /*border: 1px solid black;*/
  padding-top: 0;
  color: var(--primary);

}
.typing-effect ul li:first-child {
  transform: translateY(-4px);
}
.typing-effect ul li:nth-child(3) {
  transform: translateY(5px);
} 
.typing-effect ul li:last-child {
  transform: translateY(26px);
}
.typing-effect ul li::after {
  content: "";
  height: 100%;
  width: calc(100% + 16px);
  border-left: 1.5px solid var(--color);
  margin-left: 3px;
  animation: type 6s 0.3s infinite steps(20), blink 0.2s infinite;
  transform: translateX(-5px);
  background-color: var(--bg);
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes type {
  0%, 100% {
    left: 0;
  }
  50% {
    left: 100%;
  }
}
@keyframes blink {
  50% {
    border: transparent;
  }
}
@keyframes upword{
  100% {
    transform: translateY(-176px);
  }
}
#About {
  margin-top: 32px;
  width: 100%;
}
#About img {
  border-radius: 8px;
  border: 1px double var(--primary);
  height: auto;
  width: 50%;
  margin-inline: 16px;
}
#About article {
  padding: 16px;
}
#services {
  margin-top: 32px;
  color: var(--color);
}
#services [class*="service-"] {
  border-radius: 8px;
  box-shadow: 0 0 3px var(--primaryOpaque);
  padding: 16px;
  margin: 16px auto;
  width: 90%
}
#services [class*="service-"] p {
  padding-left: 20px;
}
.icon {
  height: auto;
  width: auto;
  border-radius: 50%;
  background-color: var(--primaryOpaque);
  color: var(--bg);
  padding: 10px;
  border: none;
}
#services [class*="service-"]:hover {
  border: 2px solid var(--primary);
  box-shadow: none;
}
#services [class*="service-"] p {
  margin-left: 10px;
}
#services [class*="service-"]:hover .icon {
  background-color: var(--primary);
}
#skills {
  margin: 64px auto;
}
#skills .skill {
  background-color: #E0E0E099;
  margin: 10px auto;
  padding: 16px;
  width: 95%;
  border-radius: 4px;
}
#skills .skill .prog-bar {
  height: 16px; 
  width: 90%;
  border-radius: 10px;
  border: 1px solid var(--color);
  overflow: hidden;
}
#skills .skill .prog-bar .prog-90 {
  background-color: var(--primary);
  height: inherit;

width: 90%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-80 {
  background-color: var(--primary);
  height: inherit;
  width: 80%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-30 {
  background-color: var(--primary);
  height: inherit;
  width: 30%;
  border-radius: inherit
}
#skills .skill .prog-bar .prog-98 {
  background-color: var(--primary);
  height: inherit;
  width: 98%;
  border-radius: inherit
}
#Projects .projects-cont{
  border-radius: 8px;
  background-color: #E0E0E099;
  padding: 16px;
  width: 90%;
  margin: 16px auto;
}
.project-img {
  background-image: url("css_sprites.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.one {
  background-position: -50% 0;
  height: 150px;
  width: 50px;
}
#contact {
  margin-top: 32px;
}
form {
  width: 90vw;
  background-color: #E0E0E0;
  margin: auto;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
}
form input, textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--primaryOpaque);
  resize: none;
  margin-top: 10px;
  outline: none;
  padding-left: 5px;
}
form input {
  height: 32px;
}
form .active:hover {
  opacity: 0.5;
}
.float-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--bg);
  border: 1px solid var(--primary);
  z-index: 100;
}
.float-btn .icon, .float-content li .icon {
  background-color: var(--bg);
  color: var(--color);
  font-size: 1.5rem;
}
ul.float-content {
  display: flex;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  border-radius: 8px;
  color: var(--color);
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translateX(30px);
  z-index: -100;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s
}
.float-btn:hover .float-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  right: 35px;
}
.float-btn .float-content li {
  padding: 0.2rem;
}
.notice-internet-con {
  position: fixed;
  bottom: 0;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
  color: var(--color);
  display: none;
  animation: fade-in 0.5s 1;
}
@keyframes fade-in {
  0% {
    bottom: -100%;
    left: -10%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 450px) {
  header ul {
    flex-wrap: nowrap;
  }
  header ul li:last-child {
    margin-left: auto;

  }
}
